.App {
  text-align: center;
}

.App-logo {
  height: 10vw;
  pointer-events: none;
  margin: 3vw;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

hr {
  margin: 0;
}

table {
  margin: 50px auto 50px auto;
  display: inline-block;
  font-size: 1.5rem;
  border-collapse: collapse;

}

td {
  padding: 1vw;
  border: 1px solid black;
  width: 25vh;
}

.App-header {
  background-color: rgb(190, 189, 189);
  min-height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 3vw;
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
