.App {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 10vw;
  pointer-events: none;
  margin: 3vw;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 11s linear;
  }
} */

.App-header {
  background-color: rgb(190, 189, 189);
  min-height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: black;
}

.headingH1 {
  font-size: 10vw;
}

td {
  width: 20vw;
}


/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
